*~
*.pyc
[#]*[#]


**/debug/*.cheb
**/debug/*.dat
**/debug/*.vtk

**/tecplot/*.dat

**/output/connect*
**/output/pos*
**/output/reprises.dat

**/tmp/*.cheb
**/tmp/*.dat
**/tmp/*.mesh
**/tmp/*.obj

**/obj/*.o
**/obj/*.mod
*.out

**/img/*.jpeg
**/vtk/*.vtk

mesh_*.mp4
quality_*.mp4



